In [5]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [6]:
data = pd.read_csv('datasets/worldcup2023.csv')

In [7]:
matches = pd.read_csv('datasets/matches.csv')

In [8]:
data.columns

Index(['Unnamed: 0', 'match_id', 'season', 'start_date', 'venue', 'innings',
       'ball', 'batting_team', 'bowling_team', 'striker', 'non_striker',
       'bowler', 'runs_off_bat', 'extras', 'wides', 'noballs', 'byes',
       'legbyes', 'penalty', 'wicket_type', 'player_dismissed',
       'other_wicket_type', 'other_player_dismissed'],
      dtype='object')

In [9]:
matches.columns

Index(['season', 'team1', 'team2', 'date', 'match_number', 'venue', 'city',
       'toss_winner', 'toss_decision', 'player_of_match', 'umpire1', 'umpire2',
       'reserve_umpire', 'match_referee', 'winner', 'winner_runs',
       'winner_wickets', 'match_type'],
      dtype='object')

Performing Data Cleaning.

In [10]:
matches.isna().sum()

season              0
team1               0
team2               0
date                0
match_number        0
venue               0
city                0
toss_winner         9
toss_decision       9
player_of_match     9
umpire1            10
umpire2            10
reserve_umpire     11
match_referee      10
winner              0
winner_runs        21
winner_wickets     21
match_type          0
dtype: int64

In [11]:
data.isna().sum()

Unnamed: 0                    0
match_id                      0
season                        0
start_date                    0
venue                         0
innings                       0
ball                          0
batting_team                  0
bowling_team                  0
striker                       0
non_striker                   0
bowler                        0
runs_off_bat                  0
extras                        0
wides                     21999
noballs                   22529
byes                      22547
legbyes                   22414
penalty                   22578
wicket_type               21938
player_dismissed          21938
other_wicket_type         22578
other_player_dismissed    22578
dtype: int64

In [12]:
matches.winner_runs.fillna(0, inplace=True)
matches.winner_wickets.fillna(0, inplace=True)

In [13]:
#filling na values
data[["wides", "noballs", "byes", "legbyes", "penalty"]] = data[["wides", "noballs", "byes", "legbyes", "penalty"]].fillna(0)

In [14]:
data.wicket_type.fillna("no wicket", inplace=True)
data.player_dismissed.fillna("no wicket", inplace=True)

In [15]:
data[["other_wicket_type", "other_player_dismissed"]] = data[["other_wicket_type", "other_player_dismissed"]].fillna("no dismissal")

In [16]:
# Getting the match number from the Match ID.
data['match_number'] = data['match_id'].rank(method='dense').astype(int)

In [17]:
# Keeping only the useful columns of this dataset
matches = matches[['season', 'team1', 'team2', 'date', 'match_number', 'venue', 'city','winner', 'winner_runs', 'winner_wickets']]

In [18]:
#Calculate the total runs scored on each ball
data["total_runs"] = data["runs_off_bat"] + data["extras"]

In [19]:
#creating a wicket column to get boolean of wicket fall
data["wicket"] = data["player_dismissed"].apply(lambda x: 1 if isinstance(x, str) else 0)

In [20]:
#Creating two columns of Over and Ball numbers
data["ball"] = data["ball"].astype(str)
data[["over", "ball_num"]] = data["ball"].str.split(".", expand=True).astype(int)
data["ball"] = data["ball"].astype(np.float64)
data["over"] = data["over"] + 1
data["ball_left"] = 306 - (data["over"]*6 + data["ball_num"])

In [21]:
#creating total runs column to calculate runs on each ball incusive of extras
data["total_runs"] = data["runs_off_bat"] + data["extras"]

Trying to build up a model.

In [22]:
#creating innings df so we can merger total runs for each innings with in original df
innings = data.groupby(["match_id", "innings"])["total_runs"].sum().reset_index()
innings.rename(columns={"total_runs":"innings_total"}, inplace=True)

In [23]:
deliveries = data.merge(innings, on=["match_id", "innings"])
deliveries

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,player_dismissed,other_wicket_type,other_player_dismissed,match_number,total_runs,wicket,over,ball_num,ball_left,innings_total
0,128024,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.1,England,New Zealand,JM Bairstow,...,no wicket,no dismissal,no dismissal,1,0,1,1,1,299,282
1,128025,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.2,England,New Zealand,JM Bairstow,...,no wicket,no dismissal,no dismissal,1,6,1,1,2,298,282
2,128026,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.3,England,New Zealand,JM Bairstow,...,no wicket,no dismissal,no dismissal,1,1,1,1,3,297,282
3,128027,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.4,England,New Zealand,DJ Malan,...,no wicket,no dismissal,no dismissal,1,1,1,1,4,296,282
4,128028,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.5,England,New Zealand,JM Bairstow,...,no wicket,no dismissal,no dismissal,1,4,1,1,5,295,282
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22574,150598,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,46.6,South Africa,Afghanistan,AL Phehlukwayo,...,no wicket,no dismissal,no dismissal,42,1,1,47,6,18,247
22575,150599,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,46.7,South Africa,Afghanistan,HE van der Dussen,...,no wicket,no dismissal,no dismissal,42,2,1,47,7,17,247
22576,150600,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,47.1,South Africa,Afghanistan,AL Phehlukwayo,...,no wicket,no dismissal,no dismissal,42,6,1,48,1,17,247
22577,150601,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,47.2,South Africa,Afghanistan,AL Phehlukwayo,...,no wicket,no dismissal,no dismissal,42,4,1,48,2,16,247
22578,150602,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,47.3,South Africa,Afghanistan,AL Phehlukwayo,...,no wicket,no dismissal,no dismissal,42,6,1,48,3,15,247

In [24]:
deliveries["cumulative_runs"] = deliveries.groupby(["match_id", "innings"])["total_runs"].cumsum()
deliveries

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,other_wicket_type,other_player_dismissed,match_number,total_runs,wicket,over,ball_num,ball_left,innings_total,cumulative_runs
0,128024,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.1,England,New Zealand,JM Bairstow,...,no dismissal,no dismissal,1,0,1,1,1,299,282,0
1,128025,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.2,England,New Zealand,JM Bairstow,...,no dismissal,no dismissal,1,6,1,1,2,298,282,6
2,128026,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.3,England,New Zealand,JM Bairstow,...,no dismissal,no dismissal,1,1,1,1,3,297,282,7
3,128027,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.4,England,New Zealand,DJ Malan,...,no dismissal,no dismissal,1,1,1,1,4,296,282,8
4,128028,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.5,England,New Zealand,JM Bairstow,...,no dismissal,no dismissal,1,4,1,1,5,295,282,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22574,150598,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,46.6,South Africa,Afghanistan,AL Phehlukwayo,...,no dismissal,no dismissal,42,1,1,47,6,18,247,229
22575,150599,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,46.7,South Africa,Afghanistan,HE van der Dussen,...,no dismissal,no dismissal,42,2,1,47,7,17,247,231
22576,150600,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,47.1,South Africa,Afghanistan,AL Phehlukwayo,...,no dismissal,no dismissal,42,6,1,48,1,17,247,237
22577,150601,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,47.2,South Africa,Afghanistan,AL Phehlukwayo,...,no dismissal,no dismissal,42,4,1,48,2,16,247,241
22578,150602,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,47.3,South Africa,Afghanistan,AL Phehlukwayo,...,no dismissal,no dismissal,42,6,1,48,3,15,247,247

In [25]:
#creating run rate column
deliveries["run_rate"] = deliveries.groupby(["match_id","innings"]).apply(lambda x: (x["cumulative_runs"]*6)/(300-x["ball_left"])).reset_index(level=[0,1], drop=True)

In [26]:
deliveries

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,other_player_dismissed,match_number,total_runs,wicket,over,ball_num,ball_left,innings_total,cumulative_runs,run_rate
0,128024,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.1,England,New Zealand,JM Bairstow,...,no dismissal,1,0,1,1,1,299,282,0,0.000000
1,128025,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.2,England,New Zealand,JM Bairstow,...,no dismissal,1,6,1,1,2,298,282,6,18.000000
2,128026,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.3,England,New Zealand,JM Bairstow,...,no dismissal,1,1,1,1,3,297,282,7,14.000000
3,128027,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.4,England,New Zealand,DJ Malan,...,no dismissal,1,1,1,1,4,296,282,8,12.000000
4,128028,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.5,England,New Zealand,JM Bairstow,...,no dismissal,1,4,1,1,5,295,282,12,14.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22574,150598,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,46.6,South Africa,Afghanistan,AL Phehlukwayo,...,no dismissal,42,1,1,47,6,18,247,229,4.872340
22575,150599,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,46.7,South Africa,Afghanistan,HE van der Dussen,...,no dismissal,42,2,1,47,7,17,247,231,4.897527
22576,150600,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,47.1,South Africa,Afghanistan,AL Phehlukwayo,...,no dismissal,42,6,1,48,1,17,247,237,5.024735
22577,150601,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,47.2,South Africa,Afghanistan,AL Phehlukwayo,...,no dismissal,42,4,1,48,2,16,247,241,5.091549
22578,150602,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,47.3,South Africa,Afghanistan,AL Phehlukwayo,...,no dismissal,42,6,1,48,3,15,247,247,5.200000

In [27]:
# Defining a colum of Target given by the Team Batting in Innings 1
innings_1 = deliveries[deliveries["innings"] == 1]

innings_1 = innings_1.groupby("match_id")["cumulative_runs"].max().reset_index()
innings_1.rename(columns={"cumulative_runs": "target"}, inplace=True)

innings_2 = deliveries[deliveries["innings"] == 2]
innings_2 = innings_2.merge(innings_1, on="match_id", how="left")
innings_2["target"] = innings_2["target"]+1

In [28]:
#Making columns for Runs Needed and the Required Run Rate to achieve that target.
innings_2["runs_needed"] = innings_2["target"] - innings_2["cumulative_runs"]
innings_2["required_run_rate"] = (innings_2["runs_needed"]*6) / innings_2["ball_left"]

In [29]:
#Adding wickets remaining for Innings 1
innings_1_f = deliveries[deliveries["innings"] == 1]
# innings_1_f["wickets_remaining"] = innings_1_f.groupby("match_id")["wicket"].apply(lambda x: 10 - x.cumsum()).reset_index(level=0, drop=True)

In [30]:
#concatinating innings1,2
innings = pd.concat([innings_1_f,innings_2])

In [31]:
innings

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,wicket,over,ball_num,ball_left,innings_total,cumulative_runs,run_rate,target,runs_needed,required_run_rate
0,128024,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.1,England,New Zealand,JM Bairstow,...,1,1,1,299,282,0,0.000000,NaN,NaN,NaN
1,128025,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.2,England,New Zealand,JM Bairstow,...,1,1,2,298,282,6,18.000000,NaN,NaN,NaN
2,128026,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.3,England,New Zealand,JM Bairstow,...,1,1,3,297,282,7,14.000000,NaN,NaN,NaN
3,128027,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.4,England,New Zealand,DJ Malan,...,1,1,4,296,282,8,12.000000,NaN,NaN,NaN
4,128028,1384392,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.5,England,New Zealand,JM Bairstow,...,1,1,5,295,282,12,14.400000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,150598,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,46.6,South Africa,Afghanistan,AL Phehlukwayo,...,1,47,6,18,247,229,4.872340,245.0,16.0,5.333333
10026,150599,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,46.7,South Africa,Afghanistan,HE van der Dussen,...,1,47,7,17,247,231,4.897527,245.0,14.0,4.941176
10027,150600,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,47.1,South Africa,Afghanistan,AL Phehlukwayo,...,1,48,1,17,247,237,5.024735,245.0,8.0,2.823529
10028,150601,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,47.2,South Africa,Afghanistan,AL Phehlukwayo,...,1,48,2,16,247,241,5.091549,245.0,4.0,1.500000
10029,150602,1384433,2023/24,2023-11-10,"Narendra Modi Stadium, Ahmedabad",2,47.3,South Africa,Afghanistan,AL Phehlukwayo,...,1,48,3,15,247,247,5.200000,245.0,-2.0,-0.800000

In [55]:
innings.to_csv('datasets/innings.csv')

In [33]:
innings.isna().sum()

Unnamed: 0                    0
match_id                      0
season                        0
start_date                    0
venue                         0
innings                       0
ball                          0
batting_team                  0
bowling_team                  0
striker                       0
non_striker                   0
bowler                        0
runs_off_bat                  0
extras                        0
wides                         0
noballs                       0
byes                          0
legbyes                       0
penalty                       0
wicket_type                   0
player_dismissed              0
other_wicket_type             0
other_player_dismissed        0
match_number                  0
total_runs                    0
wicket                        0
over                          0
ball_num                      0
ball_left                     0
innings_total                 0
cumulative_runs               0
run_rate                      0
target                    12549
runs_needed               12549
required_run_rate         12549
dtype: int64

In [34]:
matches.columns

Index(['season', 'team1', 'team2', 'date', 'match_number', 'venue', 'city',
       'winner', 'winner_runs', 'winner_wickets'],
      dtype='object')

In [35]:
#merging with matches data to get winners and other data that can help our model
innings = innings.merge(matches[["match_number","winner", "winner_runs", "winner_wickets"]], on="match_number")

In [36]:
innings["result"] = innings.apply(lambda x: 1 if x["batting_team"] == x["winner"] else 0, axis=1)

In [37]:
innings.isna().sum()

Unnamed: 0                    0
match_id                      0
season                        0
start_date                    0
venue                         0
innings                       0
ball                          0
batting_team                  0
bowling_team                  0
striker                       0
non_striker                   0
bowler                        0
runs_off_bat                  0
extras                        0
wides                         0
noballs                       0
byes                          0
legbyes                       0
penalty                       0
wicket_type                   0
player_dismissed              0
other_wicket_type             0
other_player_dismissed        0
match_number                  0
total_runs                    0
wicket                        0
over                          0
ball_num                      0
ball_left                     0
innings_total                 0
cumulative_runs               0
run_rate                      0
target                    12549
runs_needed               12549
required_run_rate         12549
winner                        0
winner_runs                   0
winner_wickets                0
result                        0
dtype: int64

In [38]:
innings.fillna(0, inplace=True)

In [39]:
innings = innings.sample(frac=1)

Building the Model

In [40]:
#Defining model data for prediction
model_cols = innings[["venue", "batting_team", "bowling_team", "ball", "innings_total", "run_rate", "required_run_rate",
                      "ball_left", "runs_needed", "winner_runs", "winner_wickets", "target", "result"]]

In [41]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.utils import to_categorical


# Extract features and target variable
X = model_cols.drop("result", axis=1)  # Features
y = model_cols["result"]  # Target variable

In [42]:
categorical_cols = ["venue", "batting_team", "bowling_team"]
numeric_cols = list(set(X.columns) - set(categorical_cols))


# Create transformers for preprocessing
numeric_transformer = Pipeline(steps=[("scaler", StandardScaler())])
categorical_transformer = Pipeline(steps=[
    ("label_encoder", OneHotEncoder(handle_unknown='ignore'))
])

# Combine transformers
preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_cols),
        ("cat", categorical_transformer, categorical_cols)
    ]
)

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [44]:
print(X_train.shape[1])

12

In [45]:
X_train['required_run_rate'] = X_train['required_run_rate'].replace(np.inf, -1)

In [46]:
# Preprocess the training and testing data
X_train_preprocessed = preprocessor.fit_transform(X_train)
# X_test_preprocessed = preprocessor.transform(X_test)
X_train_preprocessed.shape[1]

39

In [47]:
print(X_test[X_test.isin([np.nan, np.inf, -np.inf])].sum())

venue                  0
batting_team           0
bowling_team           0
ball                 0.0
innings_total        0.0
run_rate             0.0
required_run_rate    0.0
ball_left            0.0
runs_needed          0.0
winner_runs          0.0
winner_wickets       0.0
target               0.0
dtype: object

In [48]:
X_test['required_run_rate'] = X_test['required_run_rate'].replace(np.inf, -1)

In [49]:
# Define the deep learning model
model = Sequential()
model.add(Dense(32, input_dim=X_train_preprocessed.shape[1], activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dropout(0.5))  # Adding dropout with a rate of 0.5
model.add(Dense(1, activation='sigmoid'))  # Assuming binary classification

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Fit the model
model.fit(X_train_preprocessed, y_train, epochs=10, batch_size=8, validation_split=0.2)

Epoch 1/10

1807/1807 [==============================] - 6s 2ms/step - loss: 0.1968 - accuracy: 0.9318 - val_loss: 0.0083 - val_accuracy: 0.9994
Epoch 2/10
1807/1807 [==============================] - 4s 2ms/step - loss: 0.0532 - accuracy: 0.9917 - val_loss: 0.0041 - val_accuracy: 0.9994
Epoch 3/10
1807/1807 [==============================] - 4s 2ms/step - loss: 0.0365 - accuracy: 0.9925 - val_loss: 0.0038 - val_accuracy: 0.9997
Epoch 4/10
1807/1807 [==============================] - 4s 2ms/step - loss: 0.0326 - accuracy: 0.9922 - val_loss: 0.0039 - val_accuracy: 0.9997
Epoch 5/10
1807/1807 [==============================] - 4s 2ms/step - loss: 0.0297 - accuracy: 0.9925 - val_loss: 0.0037 - val_accuracy: 0.9997
Epoch 6/10
1807/1807 [==============================] - 4s 2ms/step - loss: 0.0325 - accuracy: 0.9913 - val_loss: 1.3848e-05 - val_accuracy: 1.0000
Epoch 7/10
1807/1807 [==============================] - 4s 2ms/step - loss: 0.0290 - accuracy: 0.9927 - val_loss: 8.8673e-06 - val_accuracy: 1.0000
Epoch 8/10
1807/1807 [==============================] - 4s 2ms/step - loss: 0.0299 - accuracy: 0.9922 - val_loss: 2.2757e-06 - val_accuracy: 1.0000
Epoch 9/10
1807/1807 [==============================] - 4s 2ms/step - loss: 0.0292 - accuracy: 0.9923 - val_loss: 0.0029 - val_accuracy: 0.9997
Epoch 10/10
1807/1807 [==============================] - 4s 2ms/step - loss: 0.0345 - accuracy: 0.9905 - val_loss: 0.0070 - val_accuracy: 0.9997

In [50]:
# Evaluate the model
accuracy = model.evaluate(preprocessor.transform(X_test), y_test)[1]
print(f"Accuracy: {accuracy:.2f}")

142/142 [==============================] - 0s 2ms/step - loss: 2.6520e-07 - accuracy: 1.0000
Accuracy: 1.00

For Deployment Purpose, training with the complete dataset

In [51]:
# Extract features and target variable
X = model_cols.drop("result", axis=1)  # Features
y = model_cols["result"]  # Target variable

In [52]:
X['required_run_rate'] = X['required_run_rate'].replace(np.inf, -1)

In [53]:
X_preprocessed = preprocessor.fit_transform(X)

In [56]:
# Define the deep learning model
model = Sequential()
model.add(Dense(32, input_dim=X_preprocessed.shape[1], activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dropout(0.5))  # Adding dropout with a rate of 0.5
model.add(Dense(1, activation='sigmoid'))  # Assuming binary classification

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Fit the model
model.fit(X_preprocessed, y, epochs=10, batch_size=1, validation_split=0.2)

Epoch 1/10
18063/18063 [==============================] - 41s 2ms/step - loss: 0.1074 - accuracy: 0.9636 - val_loss: 7.5245e-05 - val_accuracy: 1.0000
Epoch 2/10
18063/18063 [==============================] - 31s 2ms/step - loss: 0.0666 - accuracy: 0.9779 - val_loss: 1.4247e-05 - val_accuracy: 1.0000
Epoch 3/10
18063/18063 [==============================] - 25s 1ms/step - loss: 0.0641 - accuracy: 0.9783 - val_loss: 4.6947e-06 - val_accuracy: 1.0000
Epoch 4/10
18063/18063 [==============================] - 24s 1ms/step - loss: 0.0627 - accuracy: 0.9781 - val_loss: 6.7710e-07 - val_accuracy: 1.0000
Epoch 5/10
18063/18063 [==============================] - 25s 1ms/step - loss: 0.0591 - accuracy: 0.9806 - val_loss: 1.8670e-04 - val_accuracy: 0.9998
Epoch 6/10
18063/18063 [==============================] - 24s 1ms/step - loss: 0.0531 - accuracy: 0.9828 - val_loss: 2.6618e-04 - val_accuracy: 0.9998
Epoch 7/10
18063/18063 [==============================] - 24s 1ms/step - loss: 0.0503 - accuracy: 0.9837 - val_loss: 1.1977e-08 - val_accuracy: 1.0000
Epoch 8/10
18063/18063 [==============================] - 25s 1ms/step - loss: 0.0545 - accuracy: 0.9821 - val_loss: 0.0014 - val_accuracy: 0.9998
Epoch 9/10
18063/18063 [==============================] - 25s 1ms/step - loss: 0.0559 - accuracy: 0.9811 - val_loss: 2.0695e-09 - val_accuracy: 1.0000
Epoch 10/10
18063/18063 [==============================] - 25s 1ms/step - loss: 0.0491 - accuracy: 0.9843 - val_loss: 8.0431e-07 - val_accuracy: 1.0000

In [ ]:
#save the model
model.save('api/model.h5')